<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Password Storage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body th:align="center">
<div th:include="header"></div>
<form method="get">
    <div class="form-group" aria-readonly="true">
        <label for="name" class="col-sm-2 col-form-label">Username:</label>
        <div class="col-sm-10">
            <input class="form-control" id="name" th:value="${user.username}" aria-disabled="true">
        </div>
    </div>
    <div class="form-group" aria-readonly="true">
        <label for="password" class="col-sm-2 col-form-label">Password:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" th:value="${user.password}" aria-readonly="true">
        </div>
    </div>
    <div class="form-group" aria-readonly="true">
        <label for="name" class="col-sm-2 col-form-label">Keyword:</label>
        <div class="col-sm-10">
            <input class="form-control" id="keyword" th:value="${user.keyword}" aria-readonly="true">
        </div>
    </div>
</form>
<div class="text-center jumbotron">
    <h4>Records</h4>

    <fieldset>
        <button type="submit" id="addRecordBtn"
                th:onclick="'window.location.href=\'/users/' + ${user.id} + '/record/'">
            <a th:href="@{'/users/' + ${user.id} + '/record/'}">Add</a>
        </button>
        <table class="table table-hover" width="100%" align="center">
            <thead>
            <tr>
                <th>Header</th>
                <th>Data</th>
                <th>Description</th>
                <th>Creation Date</th>
            </tr>
            </thead>
            <tr class="info" th:each="record : ${records}">
                <td th:text="${record.header}"></td>
                <td th:text="${record.data}"></td>
                <td th:text="${record.description}"></td>
                <td th:text="${record.createDate}"></td>
                <td>
                    <a th:href="@{'/users/' + ${user.id} +'/record/' + ${record.id}}">
                        Edit
                    </a>
                </td>
                <td>
                    <a th:href="@{'/users/' + ${user.id} +'/delete/record/' + ${record.id}}">
                        Delete
                    </a>
                </td>
            </tr>
        </table>
    </fieldset>
</div>
</body>

</html>